@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Libre Baskerville', serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a, li {
    list-style: none;
    text-decoration: none;
}

/* ================================= UNIVERSAL ===================================== */

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.button1 {
    padding: 10px 0;
    font-weight: 500;
    width: 150px;
    
    border: solid #2A64E9 2px;
    color: #2A64E9;
    background-color: rgba(0, 0, 0, 0);
}

.button1:hover {
    color: white;
    background-color: #2A64E9;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.button2 {
    padding: 10px 0;
    font-weight: 500;
    width: 150px;

    border: solid #2A64E9 2px;
    color: white;
    background-color: #2A64E9;
    font-weight: 600;
}

.button2:hover {
    border: solid #133b97 2px;
    color: white;
    background-color: #133b97;
    
    cursor: pointer;
    transition: .1s ease-in-out;
}

/* =================================== NAVBAR =================================== */

.main-header {
    background-color: black;
    min-height: 120px;
}

.NavWrap {
    display: flex;
    justify-content: space-between;
}

.main-header h1, .main-header a {
    color: white;
    line-height: 120px;
}

.main-header ul {
    display: flex;
    justify-content: space-between;
}

.main-header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.main-nav a{
    margin-left: 30px;
    font-size: .9rem;
    font-weight: 500;
    color: rgb(200, 200, 200);
}

/* hover effects */

.main-nav a:hover {
    color: white;
    transition: .1s ease-in-out;
}

/* ================================== NAV MEDIA QUERIES ==================================== */

@media (max-width: 750px) {
    .main-nav {
        display: none;
    }

    .NavWrap {
        display: block;
    }

    .main-header h1 {
        display: block;
        justify-content: center;
        text-align: center;
    }

}

/* ================================= LANDING ===================================== */

.landing {
    background-color: black;
    height: 750px;
}

.LandWrap {
    width: 100%;
    padding-top: 60px;
}

.land-img {
    float: left;
    width: 30%;
    padding-right: 20px;
}

.title {
    float: right;
    color: white;
    width: 70%;
    line-height: 100px;
}

.title h1 {
    text-align: right;
    font-size: 10rem;
    margin-bottom: 40px;
}

.title h2 {
    text-align: right;
    font-size: 6.5rem;
    font-family: 'Libre Baskerville', serif;
}

.title button{
    margin-top: 20px;
    margin-left: 30px;
    float: right;

}

/* -------------------- LANDING MEDIA QUERIES -------------------------- */

@media (max-width: 1255px) {
    
    .land-img{
        display: none;
    }

    .title {
        float: unset;
        text-align: center;
        margin: 0 auto;
    }

    .title h1 {
        font-size: 10vw;
        text-align: center;
    }

    .title h2 {
        font-size: 6.5vw;
        text-align: center;
    }

    .title button {
        float: unset;
        position: relative;
        right: 0;
    }
}

@media (max-width: 750px) {

    .title h1 {
        margin-bottom: 0px;
    }

    .title h1, .title h2 {
        line-height: 70px;
    }

    .title button {
        display: block;
        margin: 30px auto;
        margin-bottom: 30px;
    }

}

@media (max-width: 500px) {

    .landing {
        height: 600px;
    }

    .title h1, .title h2 {
        line-height: 50px;
    }

    .title h1 {
        font-size: 6vh;
    }

    .title h2 {
        font-size: 4vh;
    }

    .title button {
        margin:20px auto;
        width: 90%;
    }

}

/* ================================== SECTION 1 ==================================== */

.cont-1 {
 
    width: 100%;
    display: flex;
}

.tools-img {
    max-width: 30%;
    max-height: 30%;
}

.info-1 {
    width: 70%;
    padding: 120px 0;
}

.info-1-container {
    width: 60%;
    margin: 0 auto;
}

.info-1 h1 {
    font-size: 8vh;
    font-weight: 800;
    margin: 0;
    margin-bottom: 20px;
}

.info-1 p {
    line-height: 2;
    color: rgb(82, 82, 82);
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(149, 149, 149);
}

.info-1 a {
    color: rgb(82, 82, 82);
    font-weight: 500;
}

.info-1 li {
    margin-top: 30px;
    background: url('IMG/bullet.jpg') no-repeat left center;
    padding: 7px 10px 7px 40px;
    list-style: none;
    vertical-align: middle;
}

/* --------------------------------------- */

@media (max-width: 1500px) {
    .info-1-container {
        width: 70%;
    }
}


@media (max-width: 1025px) {

    .tools-img {
        display: none;
    }

    .info-1 {
        display: block;
        padding: 0;
        margin: 120px auto;
    }

    .info-1-container {
        width: 80%;
    }
}

@media (max-width: 580px) {
    .info-1-container{
        width: 100%;
    }

    .info-1 h1 {
        text-transform: uppercase;
    }
}

/* ==================================== SECTION 2 ================================= */

.cont-2 {
    color: white;
    height: 750px;
    background:black url(IMG/WatchCollection.png) no-repeat;
    background-size: 70%;
    background-position-y: 50%;
    background-position-x: 130%;
}

.info-2 {
    width: 43vw;
    position: relative;
    top: 430px;
}

.info-2 h1 {
    font-size: 6vw;
    font-family: 'Libre Baskerville', serif;
    margin: 10px 0;
}

.info-2 h3 {
    font-size: 1vw;
    letter-spacing: 1.65vw;
}

.info-2 button {
    width: 200px ;
    padding: 12px 0;
}

/* -------------------- SECTION 2: MEDIA QUERIES --------------------------  */

@media (max-width: 1255px) {
    
    .cont-2 {
        background-size: 60%;
        background-position-y: 30%;
        background-position-x: 50%;
    }
    
    .info-2 {
        margin: 0 auto;
        text-align: center;
        top: 500px;
    }

    .info-2 button {
        margin: 0 auto;
        text-align: center;
    }

}

@media (max-width: 750px) {

    .cont-2 {

        background-size: 70%;
        background-position-y: 30%;
        background-position-x: 50%;
    }

    .info-2 {
        top: 450px;
        
    }
}

@media (max-width: 580px) {

    .cont-2 {
        background:black url(IMG/Watch2.png) no-repeat;
        background-size: 70%;
        background-position-y: 50%;
        background-position-x: 50%;

    }

    .info-2 {
        top: 500px;
        text-shadow: 0px 10px 20px black;
        width: unset;
    }

    .info-2 h1 {
        font-size: 8.5vw;
    }
    
    .info-2 h3 {
        font-size: 2.2vw;
        letter-spacing: 1.65vw;
    }
}

/* ==================================== SECTION 3 ====================================== */