@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Libre Baskerville', serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a, li {
    list-style: none;
    text-decoration: none;
}

/* ====================================================================== */

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* ====================================================================== */

.main-header {
    background-color: black;
    min-height: 70px;
}

.NavWrap {
    display: flex;
    justify-content: space-between;
}

.main-header h1, a {
    color: white;
    line-height: 70px;
}

.main-header ul {
    display: flex;
    justify-content: space-between;
}

.main-header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.main-nav a{
    margin-left: 30px;
    font-size: .9rem;
    color: rgb(200, 200, 200);
}

/* hover effects */

.main-nav a:hover {
    color: white;
    transition: .1s ease-in-out;
}

/* ====================================================================== */


